table {
  border: solid 1px #dadde0;
  width: 100%;
}

th {
  background-color: #AEB2B8;
  color: white;
  padding: 12px 0px;
  border: solid 1px #dadde0;
}

tr {
  text-align: center;
}

td {
  border: solid 1px #dadde0;
  padding: 9px 0px;
  font-weight: 500;
}
