table {
  border: solid 1px gray;
  width: 100%;
}

th {
  background-color: #acacac;
  color: white;
  padding: 12px 0px;
  border: solid 1px #dfdfdf;
}

tr {
  text-align: center;
}

td {
  border: solid 1px #dfdfdf;
  padding: 9px 0px;
  font-weight: 500;
}
